html,
body {
  height: 100%;
  overflow: auto;
  background: rgb(61, 3, 107);
  background: linear-gradient(180deg, rgba(61, 3, 107, 1) 0%, rgba(38, 15, 80, 1) 50%, rgba(11, 5, 20, 1) 100%);
  color: #FFF !important;
  font-size: 18px;
}

/* Navbar CSS */
.active {
  color: #FFF;
}

.nav-link {
  margin: 0 5vw 0 36px;
}

/* Trip Planner Form CSS */
.css-b62m3t-container {
  color: black;
}

/* React Datalist CSS */
.react-datalist-input__container {
  margin-bottom: 27px;
}

.react-datalist-input__textbox {
  font-size: 18px;
  color: black;
  height: 41px;
  padding: 0 10px;
  margin-top: 9px;
  border-radius: 4px;
}

.react-datalist-input__listbox {
  color: black;
}

.react-datalist-input__listbox-option {
  background-color: white;
}

.react-datalist-input__listbox-option mark {
  background: transparent;
  padding: 0;
}

/* Spinner CSS */
.loading {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Map CSS */
.map {
  height: 70vh;
  width: auto;
  margin: 10% 5% 0 15%;
}

.mapInfo {
  max-height: 70vh;
  overflow-y: auto;
  max-width: 600px;
  margin: 10% 15% 0 5%;
  background-color: #F2F2F2;
  border-top: 3px solid #3B3B3B;
  border-bottom: 3px solid white;
  border-radius: 3px;
  color: #181818;
}

.mapInfoHeader {
  padding: 10px;
  background-color: #3B3B3B;
  text-align: center;
  color: white;
}

.mapInfoText {
  all: unset;
  color: #a0a09f;
}

.mapInfoText:hover {
  color: white;
}

.mapList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mapListItem {
  margin: 20px;
}

.popup-content {
  border-radius: 5px;
  max-width: 600px;
}

.mapPopup {
  color: black;
  margin: 15px;
}

.mapPopup>h4 {
  text-align: center;
  margin-bottom: 15px;
}

.mapPopup>.close {
  cursor: pointer;
  position: absolute;
  display: block;
  right: 5px;
  top: 5px;
  line-height: 20px;
  color: #848482;
  font-size: 24px;
  background: #ffffff;
  border: none;
}

.mapPopup>.close:hover {
  color: black;
}