body {
  background-color: #36454F;
  color: #FFF;
}

/* Navbar CSS */
.active {
  color: #FFF;
}

.nav-link {
  margin: 0 5vw 0 36px;
}

/* Planning Form CSS */

.css-b62m3t-container {
  color: black;
}